
.section1, .section2, .section3, .section4, .section5
{
  
}

section0
{
  width: 100%;
  max-width: 1020px;
  font-size: 0.98vw;
}

@media (min-width:1021px)
{
  .section0
  {
    font-size: 10px;
  }
}

section1
{
   background-color: #796654;
}

#etu
{
  padding: 1em;
  margin: auto;
  color: #5d4c31;
  text-align: center;
  Font-family: "Horta";
  font-size: 15em;
  Text-shadow: 0.05em 0.02em #442900;
}

#niminen
{
  font-family: "jimmy script", cursive;
  font-size: 3em;
  text-align: center;
  color: #442900;
}

section1
{
  text-align: center;
}

.button a:link
{
  text-decoration: none;
 
}

.navigation
{
  padding: 2em;
  font-size: 3em;
  top-border: solid 0.3em white;
  background-color: #423124;
}

section2
{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#ame
{
font-size: 6em;  
}

section3
{
  text-align: left;
}


section2
{
  text-align: left;

}

fieldset
{
  padding-top: 5px;
  text-align: justify;
  border:solid 0.2em #302410;
  line-height: 2;
}

legend
{
  color: #302410;
  text-align: center;
}
