body
{
  background-color:#8A7B62;
}

h1
{
  color:#453822;
  text-align: center;
}


fieldset
{
  padding: 10px;
  text-align: justify;
  border:solid 2px #302410;
}

legend
{
  color: #302410;
}

.rivi {
  display: flex;
  justify-content: space-between; /* Työntää elementit ääripäihin */
  align-items: center;             /* Pystysuuntainen tasaus */
}

.vasen {
  text-align: left;
}

.oikea {
  text-align: right;
}
