
.section1, .section2, .section3, .section4, .section5
{
  width: 100vw;
  height: 120vw;
}

.section1
{
   background-color: #796654;
}

#etu
{
  padding: 100px;
  margin: auto;
  color: #5d4c31;
  text-align: center;
  Font-family: "Horta";
  font-size: 200px;
  Text-shadow: 4px 2px #442900;
  z-index: -1;
}

#niminen
{
  font-family: "jimmy script", cursive;
  font-size: 30px;
  text-align: center;
  color: #442900;
}

.navigation
{
  text-decoration: none;
  text-align: bottom-center;
}

.section2
{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

#ame
{
font-size: 60px;  
}

.cvs
{
  text-align: left;
}

body
{
  background-color:#8A7B62;
}

.aboutme
{
  text-align: left;
  height: max-height;
  width: 60%;
}

fieldset
{
  padding-top: -5px;
  text-align: justify;
  border:solid 2px #302410;
  line-height: 2;
}

legend
{
  color: #302410;
  text-align: center;
}
