html
{
background-color: #263352;
}



h4
{
padding-top: 20px;
text-align: center;
color: #A9BCEB;
font-size: 150%;
}

.yhteys
{
border: solid 1px #C1CDE3;
padding: 30px;
text-align: center;
}

input[type=text]
{
width: 100%;
border: none;
background-color: #8792A3;
border-bottom: 2px solid #C1CDE3;
box-sizing: border-box;
padding: 5px 0 5px 0;
margin: 5px 0 5px 0;
color: #0A121F;
outline: none;
height: 40px;
}

input[type=text]:focus
{
background-color: #B6C5DE;
border: solid 2px #39496E;
}

input[type=file]
{
color: #CCD1DE;
margin: 5px 0 10px 0;
}

input::file-selector-button
{
color: #A9BCEB;
background-color: #132D69;
text-decoration: none;
border: solid 0px;
padding: 7px 0 7px 0;
width: 50%;
}

button[type=submit]
{
width: 20%;
height: 30px;
background-color: #132D69;
border: none;
color: #A9BCEB;
text-decoration: none;
cursor: pointer;
margin: 5px 0 5px 0;
}

textarea
{
width: 100%;
height: 150px;
padding: 5px 0 5px 0;
border: 2px solid #C1CDE3;
box-sizing: border-box;
padding: 5px 0 5px 0;
margin: 5px 0 10px 0;
background-color: #8792A3;
color: #53535C;
}

textarea:focus
{
background-color: #B6C5DE;
border: solid 0px #39496E;
}

