Html
{
  Background-color: #758AA1;
}

.section0
{
  max-width: 1020px;
  width: 98%;
  font-size: 0.98vw; 
}

.neli
{
  width: 30em;
  height: 90%;
  margin-top: 0;
  text-align: center;
}

body
{ background-size: 40em 50em;
  background-color: #546C87;
  justify-content: center;
  margin: 0 auto;
  display: flex;
  align-items: center;
  position: absolute; top: 50%; left: 50%;
}

h1
{
  Display: block;
  Text-align: center;
  Font-size: 1em;
  Font-family: "Italiana regular", italiana;
  Font-weight: bold;
  Color: #174D8A;
  Border: solid 0;
  Margin: auto;
  margin-top: 0;
  Text-shadow: 0.2em 0.1em #B4BECF;
}

.fieldi
{  
  align-items: center;
  text-align: center;
  border: solid 0.2em #546C87;
  width: 48em;
  height: 36em;
}

#findme
{
  Text-align: center;
  Color: #213957;
  Font-size: 1em;
}

Legend 
{
  item-align: center;
  Text-align: center;
  color: #213957;
  Padding: 0;
  Font-weight: bold;
}

.somet
{
  width: 90%;
  height: 90%;
  padding: 1em;
}

Fieldset
{
  Border: solid 0.2em #213957; 
  width: 90%;
  height: 90%;
  item-align: center;
}

.somet button
{
  display: block;
  Margin: auto;
  item-align: center;
}

.somet, .somet a:link
{
  Text-decoration: none;
  Border-radius: 2em;
  Height: 1em;
  Font-size: 0.5em;
  width: 100%;
  Font-family: "Julius sans one", sans serif;
  Transition-duration: 0.4s;
  Cursor: pointer;
}

.button
{
  Text-decoration: none;
  Color: #899CB3;
  Background-color: #3B5675;
  Border-radius: 2em;
  Height: 3em;
  width: 100%;
  Font-size: 2em;
  Font-family: "Julius sans one", sans serif;
}

.somet a
{
  Color: #899CB3;
}

.button:hover
{
  Color: #0D1D30;
  Background-color: #90AFD1; 
}

.somet a:hover
{
  Color: #0D1D30;
}

.yhteys, #port, #vali
{
  Display: none;
}
