Html
{
Background-color: #758AA1;
}

.section0
{
  width: 90%;
  max-width: 1020px;
  font-size: 0.98vw;   
}

h1
{
Display: block;
Text-align: center;
Font-size: 4em;
Font-family: "Italiana regular", italiana;
Font-weight: bold;
Color: #174D8A;
Border: solid 0em;
padding: 1.5em; 
Margin: auto;
Text-shadow: 0.2em 0.1em #B4BECF;
}

#findme
{
  Text-align: center;
  Color: #213957;
  Font-size: 1.7em;
}

Legend 
{
  item-align: center;
  Text-align: center;
  color: #213957;
  Padding: 0;
  Font-weight: bold;
}

.somet
{
  width: 10em;
  height: 10em;
  padding: 1em;
}

Fieldset
{
  Border:solid 0.2em #213957; 
  width: 70%;
  height: 80%;
}

.somet button
{
display: block;
Margin: auto;
Width: 60%;
}

.somet, .somet a:link
{
Text-decoration: none;
Border-radius: 2em;
Height: 5.5em;
Font-size: 2em;
Font-family: "Julius sans one", sans serif;
Transition-duration: 0.4s;
Cursor: pointer;
}

.button
{
Text-decoration: none;
Color: #899CB3;
Background-color: #3B5675;
Border-radius: 2em;
Height: 5.5em;
Font-size: 2em;
Font-family: "Julius sans one", sans serif;
}

.somet a
{
Color: #899CB3;
}

.button:hover
{
Color: #0D1D30;
Background-color: #90AFD1; 
}

.somet a:hover
{
Color: #0D1D30;
}

.yhteys, #port, #vali
{
Display: none;
}
